<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>GUI</string>

    <key>CFBundleIdentifier</key>
    <string>com.example.myapp</string>

    <key>NSCameraUseContinuityCameraDeviceType</key>
    <true/>

    <key>NSCameraUsageDescription</key>
    <string>This thing needs camera access to display the video feed.</string>

    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
